<%= form_for message do |f| %>
<section class="message-reply">
  <div>
    <%= f.label :content  %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.submit "Send Message" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :converser_id, value: converser.id %>
<% end %>
</section>