 <%= form_for message do |f| %>
 <section class="message-reply"> 
 <div class="container">	
		<div class="row">
			<div class="ten offset-by-one columns">
				
				   <%= f.label :"Leave a Reply"  %>
				   <%= f.text_area :content %>
				 

				
				   <%= f.submit "Go" %>
		

				 <%= f.hidden_field :user_id, value: current_user.id %>
				 <%= f.hidden_field :converser_id, value: converser.id %>
				<% end %>
			</div>
		</div>
	</div>
 </section>