<% @products.each do |product| %>
<div class="four columns repeater">
      <div class="product-card">

          <div class="product-title-container"> 
              <%= image_tag product.images.first.url %>
          </div>

        <div class="product-details">   
          <p class="product-title"><b><%= product.name %></b></p>         
          <p class="product-tagline"><%= product.tagline %></p>
          <p class="product-user">Posted by: <%= link_to product.user.name, user_path(product.user) %></p>
          <p class="info"><span class="green"><%= link_to product_path(product, product: { approved: true } ), method: "PUT", title: "Approve" do %><i class="fa fa-check"> <% end %></i></span><span class="social">
            <%= link_to edit_product_path(product), title: "Edit" do %> <i class="fa fa-pencil-square-o"></i> <% end %> 
            <%= link_to new_message_path(converser_id: product.user.id), title: "Message User" do %> <i class="fa fa-comment"></i> <% end %>
            <%= link_to product_path(product), method: "DELETE", title: "Delete Submission" do %><i class="fa fa-times"></i> <% end %>
          </span></p>
        </div>
      </div><!--product-card-->
    </div><!--column-->
  <% end %>