<%= form_for product do |f| %>
  <div>
    <%= f.label :name  %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :website  %>
    <%= f.text_field :website %>
  </div>

  <div>
    <%= f.label :tagline  %>
    <%= f.text_field :tagline %>
  </div>

  <div>
    <%= f.label :mission  %>
    <%= f.text_area :mission %>
  </div>

  <div>
    <%= f.label :value_prop  %>
    <%= f.text_area :value_prop %>
  </div>

  <div>
    <%= f.label :description  %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :catagory_id %>
    <%= f.collection_select(:catagory_id, Catagory.all, :id, :name, prompt: true) %>
  </div>

  <div>
    <%= f.file_field :file, multiple: true  %>
  </div>

  <div>
    <%= f.submit "Save" %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>

<% end %>