<!DOCTYPE html>
<html>
<head>
  <title>OneClickStartup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= current_user.name %>
  <%= link_to "Logout", logout_path %>
  <%= link_to "Submit Product", new_product_path %>
<% end %>
<%= yield %>

</body>
</html>
