<!DOCTYPE html>
<html>
<head>
  <title>OneClickStartup</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>

<%if flash[:warn] %>
  <div class="flash">
    <%= flash[:notice] %>
    <%= flash[:warn] %>
    <a href="#" class="dismiss"><i class="fa fa-times"></i></a>
  </div>
<% end %>
    <%= yield %>
    
     <%= render "layouts/footer" %>


</body>
</html>
